h1{
    text-align: center;
    color: black;
    font-weight: 900;
    font-size: 40px;
    font-style:italic;
    margin-top: 10px;
    margin-bottom: 2px;
}
html{
    background-color:bisque;
}
#navigationbar{
    background-color: lightcoral;
    height: 27px;
    margin-top: 0px;
    border: 5px solid white;
}
li{
    display: inline;
}
#contactme{
    margin-right: 10px;
}
#aboutme{
    margin-right: 10px;
}
#myproject{
    margin-right: 10px;
}
*{
    color: white;
}